/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #ff9a9e, #fad0c4, #fad0c4);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Container Styles */
.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

/* Heading Styles */
h1 {
    font-size: 3em;
    margin-bottom: 15px;
    border: 3px solid white;
    padding: 15px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 40px;
    color: #f1f1f1;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

/* Button Styles */
button {
    padding: 15px 40px;
    font-size: 20px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(145deg, #ff4757, #ff6b81);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

button:hover {
    background: linear-gradient(145deg, #ff6b81, #ff4757);
}

button:active {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Question Text Styles */
p {
    margin-top: 30px;
    font-size: 1.5em;
    color: black;
    min-height: 60px;
    white-space: normal;  /* Allow text to wrap normally */
}
